{% extends 'base.html' %}
{% load extract %}

{% block title %}{{ author.fullname }} - Quotes{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="author-details">
            <h1 class="author-title">{{ author.fullname }}</h1>
            
            {% if author.born_date or author.born_location %}
            <p><strong>Born:</strong> 
                {% if author.born_date %}<span class="author-born-date">{{ author.born_date }}</span>{% endif %}
                {% if author.born_location %}<span class="author-born-location">{{ author.born_location }}</span>{% endif %}
            </p>
            {% endif %}
            
            {% if author.description %}
            <p><strong>Description:</strong></p>
            <div class="author-description">
                {{ author.description }}
            </div>
            {% endif %}
        </div>
        
        <!-- <h3 class="quotes-title">Quotes by {{ author.fullname }}:</h3>
        
        {% for quote in author_quotes %}
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{ quote.quote }}</span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:quotes_by_tag' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %} -->
    </div>
    
    <!-- <div class="col-md-4 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag in top_tags %}
        <span class="tag-item">
            <a class="tag" style="font-size: {{ tag.font_size }}px" href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
        </span>
        {% endfor %}
    </div> -->
</div>
{% endblock %}