{% extends 'quotes/base.html' %}
{% load extract %}

{% block title %}{{ author.fullname }} - Quotes{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class="author-details">
            <h1 class="author-title">{{ author.fullname }}</h1>
            
            {% if author.born_date or author.born_location %}
            <p><strong>Born:</strong> 
                {% if author.born_date %}<span class="author-born-date">{{ author.born_date }}</span>{% endif %}
                {% if author.born_location %}<span class="author-born-location">{{ author.born_location }}</span>{% endif %}
            </p>
            {% endif %}
            
            {% if author.description %}
            <p><strong>Description:</strong></p>
            <div class="author-description">
                {{ author.description }}
            </div>
            {% endif %}
        </div>
</div>
{% endblock %}