{% extends 'quotes/base.html' %}
{% load extract %}

{% block title %}Quotes tagged with "{{ tag.name }}"{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h2>Viewing tag: <span class="tag" style="font-size: 24px">{{ tag.name }}</span></h2>
        
        {% for quote in quotes %}
        <div class="quote" itemscope itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author|author }}</small>
                <a href="{% url 'quotes:author_detail' quote.author.fullname %}">(about)</a>
            </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="{% url 'quotes:quotes_by_tag' tag.name %}">{{ tag.name }}</a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        
    </div>
    
    <div class="col-md-4 tags-box">
        <h2>Top Ten tags</h2>
        {% for tag in top_tags %}
        <span class="tag-item">
            <a class="tag" style="font-size: {{ tag.font_size }}px" href="{% url 'quotes:quotes_by_tag' tag.name %}">{{ tag.name }}</a>
        </span>
        {% endfor %}
    </div>
</div>
{% endblock %}